h1{
  color: blue;
  text-align: center;
  background-color: lime;
  font-size: 50px;
}
h2{
  color: ;gray
  text-align: center;
  font-style: italic;
  line-height: 2;
  }
p{
  font-family: sans-serif;
  font-color: blue;
  font-size: 20px;
}
ul{
  line-height: 40px;
  font-family: fantasy;
}
